h3,
.h3 {
  font-size: 500;
  font-size: 17px;
  letter-spacing: 1px;
}

h4,
.h4 {
  font-size: 500;
  font-size: 21px;
  letter-spacing: 2px;
}

.footnote {
  font-size: 12px;
  margin: 3px 10px 0 4px;
}

.chat-user {
  font-size: 13px;
  color: rgb(126, 126, 126);
}
